body{
	margin: 0;
	padding:0;
	font-size: 13px;
	font-family: sans-serif;
	background-color: #F5F5F5;
}

.topnav{
	background-color: #fff;
	color:#222;
	display: flex;
	min-height: 50px;
}


.topnav img{
  max-height: 40px;
  max-width: 40%; 
  overflow: visible;
  padding-left: 5px;
  margin-top: 4px;
  margin-left: 5px; 

}

.topnav ul{
	margin: 0;
	padding:0;
}

.topnav ul li{
	list-style: none;
}

.topnav > ul > li{
	float: left;
	position: relative;
}

.topnav > ul > li > a {

	display: block;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
}

.dd-btn{
	color: #fff;
	cursor: pointer;
}

.dd-menu {
	position: absolute;
	
	top: 100%;
	left: 0;
	width: 200px;
	background-color: white;
	border: 1px solid #f1f1f1;
	z-index: 999;
	box-shadow: 0px 0px 3px;
}

.dd-menu li a {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	color: #222;
}


.dd-menu li:last-child a{
	border-bottom: 0px;
}


.dd-menu li a:hover {
	background-color: #f1f1f1;
}

.hide {
	display: none;
}


@media screen and (min-width: 0px) and (max-width: 450px){

	.topnav{
		position: fixed;
		height: 100%;
		left: 0;
		width:250px;
	}

	.topnav > ul > li {
		float: none;
		width: 250px;
	}

	.topnav > ul > li > a {
		background-color: #111;
	}

	.dd-menu {
		position: relative;
		width: 250px;
	}

}
/*Navbar SEARCH input and SEARCH Button*/

.topnav input[type=text] {
  padding: 2px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  position: relative;
}

.topnav .search-container button {
  padding: 2px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  position: relative;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}


/* For CONTAINER section*/
.container{
    position: block;
    float:center;
    

}

#header{
    padding-left: 2px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.container .wrapper {
    display: flex;
    width: 150%;
    padding-top:8px;
}


#sidebar {
    width: 250px;
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    background: #E7E7E7;
    color: #000;
    transition: all 0.3s;
    font-family: Calibri;
    font-size: 20px;
    text-decoration-color: #000000;
    padding-left: 8px;
}

.table-container{
    padding-left: 25px;
    width: 1000px;
    background-color: #F5F5F5;;
}

.container button {
  background:#00A7FB;
  border: 1px solid;
/*  border-color:#00A7FB;*/
  cursor: pointer;
  border-radius: 4px;
}

.container button:hover,.form button:active,.form button:focus {
  background: transparent;
  /*color: #00A7FB;*/
}


.container .row{
    padding: 2px 2px;
}


.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top:0;
    border-radius: 5px;
    display: none;
    justify-content: center;
    padding-top: 120px;
  

}

.modal-content{
    width:620px;
    height: 500px;
    background-color: #F5F5F5;
    position: relative;
}


.modal-content label{
    padding-left: 10px;
}

.modal-content h2{
    padding-left: 10px;
    padding-top: 5px;
}

.close{
    position: absolute;
    top:0;
    right: 14px;
    font-size: 40px;
    transform: rotate(45deg);
    cursor: pointer;

}

.form {
  margin: 0px;
  padding: 5px;
}
.form button{
    height: 40px;
    width: 100px;
    background-color: green;
    color: white;
    border: 1px solid #fff;
    border-radius: 8px;
    float: right;
}

section {
  padding: 3px;
  padding-bottom: 10px;
  align-content: center;
}

.product-section input{
  padding-left: 10px;
  height: 40px;
  border: 1px solid #fff;
  border-color: white;
  background-color: #E8E8E8;
  border-radius: 8px;
}
.price-section input{
  width: 100px;
  height:40px;
  border: 1px solid #fff;
  border-color: white;
  background-color: #E8E8E8;
  border-radius: 8px;
}

